APP_URL=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_SECURE=ssl
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=Salão Agenda

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
